.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
/*   min-height: 600px;
  max-height: 756px; */
  height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}
.logo {
  background-image: url(/First_project/img/logo_place_header.svg);
  background-size: cover;
  margin: 0;
  position: absolute;
  height: 32px;
  width: 228px;
  margin: 30px 0 0 64px;
}
.header__title {
  margin: 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 0 64px;
}
.header__subtitle {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  margin: 0 0 30px 64px;
  width: 388px;
  position: absolute;
  bottom: 30px;
}
.header__link {
  text-decoration: none;
}
.header__link:hover {
  text-decoration: none;
  color: aqua;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 0;
  margin: 64px 0 0 0;
  box-sizing: border-box;
}
.header__image{
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}
.description {
  margin: 0;
  display: flex;
  justify-content: space-around;
  /* min-height: 40vh; */
/*   background-color: azure; */
  padding: 100px 0 0px 0;
}
.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.description__two-columns {
  margin: 0;
  width: 175px;
  color: #2f80ed;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;  
}
.two-columns__main-text {
  margin: 0;
  width: 80%; 
  min-width: 784px
}
.two-columns__paragraph {
  margin: 0;
  /* padding: 0 0 30px 0; */
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span {
  font-weight: bold;
  font-weight: 600;
}
.two-columns__paragraph-span {
  margin: 0;
  padding: 30px 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}
.digits {
  margin: 0 auto;
  text-align: center;
}
.section-title {
  width: 60%;
/*   margin: 0 auto;
  padding: 100px 0 20px 0; */
  margin: 100px auto 20px auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  margin: 0 auto 100px auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.table__sell {
  width: 250px;
  margin: 0;
  list-style-type: none;
}
.table__heading {
text-align: left;
margin: 60px 0 0 0;
line-height: 1.15;
font-size: 24px;
font-weight: 600;
}
.table__text {
  text-align: left;
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  /* background-image: url(/First_project/img/feynman.png); */
  /* position: absolute; */
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.feynman__title {
  /* position: absolute; */
  margin: 100px auto 70px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
}
.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__image {
  position: absolute;
  height: 637px;
  width: 867px;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.feynman__link {
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
}
.feynman__link:hover {
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  color: aqua;
}


.kaufman {
  background-color: #000000;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.section-title_theme_dark {
  margin: 90px auto 20px auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  z-index: 1;
}
.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  color: #ffffff;
  z-index: 1;
}
.table_theme_dark {
  margin-bottom: 90px;
  color: #ffffff;
  z-index: 1;
}
.table__sell_theme_dark {
  width: 200px;
}
.table__heading_theme_dark {
  margin-top: 80px;
}
.kaufman__triangle {
  z-index: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}
.footer {
  min-height: 350px;
  display: flex;
  background-color: #000000;
  position: relative;
  }
.logo_place_footer {
  background-image: url(/First_project/img/logo_place_footer.svg);
  margin: 0;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px auto;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer__author {
  color: #ffffff;
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_copyright {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    flex-basis: 711px;
}
.footer__column-heading {
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;

}
.footer__column-links {
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
}
.footer__column-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link:hover {
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: aqua;
}
.footer__column-img {
  width: 16px;
  height: 16px;
}